<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>notes</title>
  <link href="/style.css" rel="stylesheet" media="screen">
</head>
<body>
  <%= yield %>
</body>
</html>
